# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment files
.env

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
